src/main/app/order-systems2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd">
    <flow name="retrieve-orders">
        <http:listener config-ref="HTTP_Listener_Configuration_mule" path="/orders" allowedMethods="GET" doc:name="HTTP"/>
        <set-variable variableName="intarval" value="#[message.inboundProperties.'http.query.params'.timeframe]" doc:name="Variable : Interval"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
%namespace ns0 http://soap.training.mulesoft.com/
---
{
	ns0#provisionOrder: {
		dateRange: flowVars.intarval as :string
	}
}]]></dw:set-payload>
        </dw:transform-message>
        <ws:consumer config-ref="Web_Service_Consumer" operation="provisionOrder" doc:name="Web Service Consumer"/>
    </flow>
 
    
    <flow name="process-orders">
        <set-variable variableName="orders" value="#[payload]" doc:name="Variable : Store Orders"/>
    
        <set-payload value="#[{'international': java.util.Map&lt;&gt;[], 'domestic': java.util.Map&lt;&gt;[]}]" doc:name="Set Payload: Set Payload to Order Schema"/>
        <dw:transform-message doc:name="Populate Internation key contents">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	international:flowVars.orders filter $.'location'=='worldwide',
	domestic:flowVars.orders filter $.'location'=='national'

}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
